<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjj.homieMatching.mapper.FriendMapper">

    <resultMap id="BaseResultMap" type="com.hjj.homieMatching.model.domain.Friend">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="friendId" column="friendId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,friendId,createTime,
        updateTime,isDelete
    </sql>
</mapper>
