<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjj.homieMatching.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.hjj.homieMatching.model.domain.Message">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="fromId" column="fromId" jdbcType="BIGINT"/>
            <result property="toId" column="toId" jdbcType="BIGINT"/>
            <result property="text" column="text" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatarUrl" jdbcType="VARCHAR"/>
            <result property="blogId" column="blogId" jdbcType="BIGINT"/>
            <result property="teamId" column="teamId" jdbcType="BIGINT"/>
            <result property="isRead" column="isRead" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,fromId,
        toId,text,avatarUrl,blogId,teamId,
        isRead,createTime,updateTime,
        isDelete
    </sql>
</mapper>
